<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <title>Links4Use</title>                   
</head>
<style>
body{
    background-color: #F3B997;
}
#filterInput{
  max-width: 50%;
  margin-right: 20%;
}
#divLinks{
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 30px;
    background-color: whitesmoke;
}
#contDiv{
    max-width: 1800px;
}
#cardRedes{
  margin-left: 4%;
}
.col{
    background-color: #a4a0f5;
    margin-bottom: 20px;
    font-size: large;
}
</style>
