<%- include('partials/header.ejs')%>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"style="font-size: xx-large; margin-right: 80px;">Links4Use</a>
              <input class="form-control" type="text" id="filterInput" onkeyup="filtrar()" placeholder="Pesquise um caminho...">
            </div>
        </nav>  
      <div class="d-flex" style="margin-top: 2%;">
          <div class="container-fluid">
              <%- include('partials/rede.ejs') %>
          </div>
          <div class="container-fluid">
            <%- include('partials/links.ejs') %>
        </div>
      </div>
    </body>
    <script type="text/javascript">
        var $rows = $('#tablWays tr');
        $('#filterInput').keyup(function() {

            var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
                reg = RegExp(val, 'i'),
                text;

            $rows.show().filter(function() {
                text = $(this).text().replace(/\s+/g, ' ');
                return !reg.test(text);
            }).hide();
        });
    </script>
<style>
  .nocursor{
    cursor: default !important;
  }
</style>
</html>